extends master

block content
    .container
        .row
            h1.col-sm-offset-2
                strong Messages
        .row
            .col-sm-6.col-sm-offset-1
                .box-title
                    h2.col-sm-offset-1 Messages
                #messages-box
                    ul#messages.list-group
                        li.list-group-item.list-group-item-success.text-center.default-message
                            |   Click on your friend to chat

                .hidden#input-message
                    form#chat.form-group
                        input#message.form-control(autocomplete='off')
                        button.btn.btn-success.col-sm-2#send-message Send

            .col-sm-3.col-sm-offset-1
                .box-title
                    h2.col-sm-offset-1 Friends
                #friends-box
                    ul#friends.list-group
                        each friend in context.user.friends
                            if(friend.username === context.friend)
                                li(user-id=friend._id).row.btn.btn-success.friend-panel.list-group-item.list-group-item-action.msg-friend
                                    img.img-responsive.col-sm-3.friend-pic(src=friend.pictureUrl)
                                    span.col-sm-9.friend-name.text-center #{friend.username}
                            else
                                li(user-id=friend._id).row.btn.btn-success.friend-panel.list-group-item.list-group-item-action
                                    img.img-responsive.col-sm-3.friend-pic(src=friend.pictureUrl)
                                    span.col-sm-9.friend-name.text-center #{friend.username}
    script(src='/dist/js/messages.js')

