extends master

block content
    script(src='../static/js/editprofile.js')
    .container
        .row
            .col-md-6.col-md-offset-3
                .panel.panel-info
                    .panel-heading
                        h3.panel-title
                            |   #{user.username}
                    .panel-body
                        .row
                            .col-md-3(align='center')
                                if (user.pictureUrl)
                                    img.img-circle.img-responsive(alt='User Picture', src=user.pictureUrl)
                                else
                                    img.img-circle.img-responsive(alt='User Picture', src="http://www.teluguone.com/tonecmsuserfiles/Programmer%20Funny%20Responses(1).jpg")
                            .col-md-9
                                table.table.table-user-information
                                    tbody
                                        tr
                                            td
                                                |   Department:
                                            td.edittable
                                                |   Programming
                                        tr
                                            td
                                                |   Date of Birth:
                                            td.edittable
                                                |   01/24/1988
                                        tr
                                        tr
                                            td
                                                |   Gender
                                            td.edittable
                                                |   Male
                                        tr
                                            td
                                                |   Home Address
                                            td.edittable
                                                |   Bulgaria
                                        tr
                                            td
                                                |   Email
                                            td.edittable
                                                a(href=result) #{user.email}
                                        tr
                                            td
                                                |   Your Last Location
                                            td#location
                                               script(async defer src='/static/js/cordinates.js')

                                        td
                                            |   Phone Number
                                        td.edittable(contenteditable=true)
                                            |   555-4567-890(Mobile)
                    .panel-footer
                        form#profile-picture-form(action='/profile' method='post', enctype='multipart/form-data')
                            label.btn.btn-primary(for="profile-picture")
                                |   Update profile picture
                            input#profile-picture(type='file', name='avatar', accept='image/*')

                        span.pull-right.vcenter
                            a.btn.btn-sm.btn-primary(data-original-title='Broadcast Message', data-toggle='tooltip', type='button')
                                i.glyphicon.glyphicon-envelope
                            a.btn.btn-sm.btn-warning#buttonEditProfile(data-original-title='Edit this user', data-toggle='tooltip', type='button')
                                i.glyphicon.glyphicon-edit
                            a.btn.btn-sm.btn-success#saveButton(data-original-title='Edit this user', data-toggle='tooltip', type='button')
                                i.glyphicon.glyphicon-ok
                            a.btn.btn-sm.btn-danger(href='/')
                                i.glyphicon.glyphicon-remove