extends ../master

block content
    .container.col-sm-offset-3
      .row
        .col-md-6.landmark-details
          h1#landmarkTitle
            | #{context.landmark.title}
          img.img-responsive.landmark-details-img.img-thumbnail(src=context.landmark.pictureUrl)
          hr
          p.landmark-details-description
            | #{context.landmark.description}
          if (context.user)
            button.btn.btn-primary.pull-left#btn-show--mark-visited-modal
                span.glyphicon.glyphicon-camera
                |  Mark Visited 

          button.btn.btn-danger.pull-left.landmark-description(data-content=context.landmark.description data-placement='right' data-trigger='click')
            span.glyphicon.glyphicon-zoom-in
            |  Read More
          button.btn.btn-success.pull-right.btn-comment-form
            span.glyphicon.glyphicon-comment
            |  Comment
          button.btn.btn.pull-right#googleMapActivate(type='button')
            span.glyphicon.glyphicon-map-marker
            | Map 
          #add-destination-comment.form-group.hidden
            p.col-md-pull-left
                .row
            textarea#comment-destination.form-control(rows='5' name="comment-text")
            button.btn.btn-success.btn-add-destination-comment(data-landmarkId=context.landmark._id)
                    | Add 
          hr
          br
          h4
            | Comments
            hr
        - var isloggedUserAdmin = context.user && context.user.isAdmin ? 'true' : 'false'
        section.destination-comments(data-logged-username=context.isAuthenticated ? context.user.username : '', data-is-admin=isloggedUserAdmin)
            if (context.landmark.comments)
                each comment in context.landmark.comments
                    .col-md-8.destination-comment
                        p.destination-comment-text
                            | #{comment.text}
                        p.destination-comment-details.text-primary
                            span.glyphicon.glyphicon-time
                            |  #{context.timeFromNow(comment.postedOn)} 
                            img.img-comment-user(src=comment.user.pictureUrl)
                            a(href='/users/' + comment.user.username)
                                |  #{comment.user.username} 
                            if context.isAuthenticated && (context.user.isAdmin || context.user.username === comment.user.username)
                                button.btn.btn-primary.btn-xs.btn-edit-comment(data-author=comment.user.username)
                                    span.glyphicon.glyphicon-pencil
                                button.btn.btn-danger.btn-xs.btn-delete-comment
                                    span.glyphicon.glyphicon-trash 
                                button.btn.btn-success.btn-xs.btn-save-comment.hidden(data-author=comment.user.username)
                                    span.glyphicon.glyphicon-ok
                                button.btn.btn-danger.btn-xs.btn-exit-save.hidden(data-author=comment.user.username)
                                    span.glyphicon.glyphicon-remove
                        hr.col-md-8
      #myModal.modal.fade(role='dialog')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close.text-danger.glyphicon.glyphicon-remove(type='button', data-dismiss='modal')
                    h4.modal-title #{context.landmark.title}
                        #cordslong(data-lon=context.landmark.longitude)
                        #cordslat(data-lat=context.landmark.latitude)
                .modal-body
                    #floating-panel
                        input#address(type='textbox', value=context.landmark.title)
                        input#submit(type='button', value='Geocode')
                    #map
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
      #verifyDestinationModal.modal.fade(role='dialog')
        .modal-dialog
              .modal-content
                  .modal-header
                      button.close.text-danger.glyphicon.glyphicon-remove(type='button', data-dismiss='modal')
                      h4.modal-title 
                        | Upload you own picture from #{context.landmark.title}!
                  .modal-body
                          h3
                            | Show us your picture while you are still here at 
                            | #{context.landmark.title} and we'll' save your memory in your personal album
                          form#verify-destination-form.text-center(action='/destinations/' + context.landmark._id method='post' enctype='multipart/form-data')
                                img#imageToBeUploaded.img-responsive.img-thumbnail(src='/static/images/no-image-selected.png')
                                input.col-md-offset-3.btn.btn-primary#btn-upload-destination-picture(type='file', name='uploadFile', accept='image/*')
                  .modal-footer
                      button.btn.btn-primary#btn-send-verify-destination-picture
                        | Upload
                      button.btn.btn-default(type='button', data-dismiss='modal')
                        | Close

    script(src="/dist/js/destinations/verify.destination.js")
    script(src="/dist/js/destinations/comment.destination.js")

    script(src="/dist/js/destinations/init-map.destination.js")
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCswzaSDzKsdAdfPRt9ssO0YzrbiCOgkQo&libraries=places&callback=initMap')
    script(src="/dist/js/destinations/show-map.destination.js")



