extends ../master

block content
    .container.col-sm-offset-3
      .row
        .col-md-6.landmark-details
          h1
            | #{context.landmark.title}
            small 
                |  Secondary Text
          img.img-responsive.landmark-details-img.img-thumbnail(src=context.landmark.pictureUrl)
          hr
          p.landmark-details-description
            | #{context.landmark.description}
          button.btn.btn-primary
            | Read More 
            span.glyphicon.glyphicon-chevron-right
          button.btn.btn-success.pull-right.btn-comment-form
            span.glyphicon.glyphicon-comment
            |  Comment
          hr
          #add-destination-comment.form-group.hidden
            | Comment:
            textarea#comment-destination.form-control(rows='5' name="comment-text")
            button.btn.btn-success.btn-add-destination-comment(data-landmarkId=context.landmark._id)
                | Add
          h4
            | Comments
            hr
        section.destination-comments
            if (context.landmark.comments)
                each comment in context.landmark.comments
                    .col-md-8.destination-comment
                        p.destination-comment-text 
                            | #{comment.text}
                        p.destination-comment-details.text-primary
                            span.glyphicon.glyphicon-time
                            |  #{comment.postedOn} 
                            img.img-comment-user(src=comment.user.pictureUrl) 
                            a(href='/users/#{comment.author._id}') 
                                | #{comment.user.username} 
                        hr.col-md-8
