extends ../master

block content
    .container
        .row.user-id(user-id=context.current._id)
            .col-md-offset-1.col-md-5
                .col-sm-4.text-center
                    figure
                        img.img-circle.img-responsive(src=context.current.pictureUrl alt='user profile picture')
                .col-sm-12
                    h2 #{context.current.username}
                    if context.isAuthenticated && context.user.username !== context.current.username
                        if context.user.friends.some(x=> x._id.toString() === context.current._id.toString())
                            a(href=`/users/messages?user=${context.current.username}`).btn.btn-primary#chat
                                | Chat
                        else
                            a(href=`/users/messages?user=${context.current.username}`).btn.btn-primary#add-friend
                                | Add friend
                    hr
                    .col-xs-12.col-sm-4.col-sm-4.emphasis
                        h2
                            strong  #{context.current.rank}
                        p
                            small Rank
                    .col-xs-12.col-sm-4.emphasis
                        h2
                            strong #{context.current.visitedPlaces} / #{context.current.landmarks.length}
                        p
                            small  Visited Places

            .col-md-4.panel
                h1.panel-heading.glyphicon.glyphicon-hand-right.pull-left
                h1.panel-heading.panel-info.pull-right #{context.current.description}
        .row
            .col-md-offset-1
                each landmark, index in context.current.landmarks
                    if (index % 5) == 0
                        .row
                    else
                    .col-md-2.portfolio-item.landmark 
                            a(href='#')
                                if (landmark.isVisited)
                                    img.img-responsive.thumbnail.img-landmark(src=landmark.pictureUrl)
                                else
                                    img.img-responsive.thumbnail.transparent(src=landmark.pictureUrl)
                            h5
                                | #{landmark.title}
                            p.landmark-description
                                | #{landmark.description}