extends ../master

block content
    .container
        .row
            .col-md-6.col-md-offset-3
                .panel.panel-info
                    .panel-heading
                        h3.panel-title
                            |   #{context.user.username}
                    .panel-body
                        .row
                            .col-md-3(align='center')
                                if (context.user.pictureUrl)
                                    img.img-circle.img-responsive(alt='User Picture', src=context.user.pictureUrl)
                                else
                                    img.img-circle.img-responsive(alt='User Picture', src="/static/images/default.png")
                            .col-md-9
                                table.table.table-user-information
                                    tbody#user-info
                                        tr
                                            td.user-data(data-name='birthDate')
                                                |   Date of Birth
                                            td.edittable
                                                | #{context.user.birthDate}
                                        tr
                                            td.user-data(data-name='city')
                                                |   City
                                            td.edittable
                                                | #{context.user.city}
                                        tr
                                            td.user-data(data-name='email')
                                                |   Email
                                            td.edittable
                                                | #{context.user.email}
                                        tr
                                            td.user-data(data-name='phoneNumber')
                                                |   Phone Number
                                            td.edittable
                                                | #{context.user.phoneNumber}
                                        tr
                                            td.user-data(data-name='description')
                                                |   Description
                                            td.edittable
                                                | #{context.user.description}
                    .panel-footer
                        form#profile-picture-form(action='/users/profile' method='post', enctype='multipart/form-data')
                            label.btn.btn-primary(for="profile-picture")
                                |   Update profile picture
                            input#profile-picture(type='file', name='uploadFile', accept='image/*')

                        span.pull-right.vcenter
                            a.btn.btn-sm.btn-primary(href='/users/messages' data-original-title='Broadcast Message', data-toggle='tooltip', type='button')
                                i.glyphicon.glyphicon-envelope
                            a.btn.btn-sm.btn-warning#buttonEditProfile(data-original-title='Edit this user', data-toggle='tooltip', type='button')
                                i.glyphicon.glyphicon-edit
                            a.btn.btn-sm.btn-success#saveButton.hidden(data-original-title='Edit this user', data-toggle='tooltip', type='button')
                                i.glyphicon.glyphicon-ok
                            a.btn.btn-sm.btn-danger(href='/')
                                i.glyphicon.glyphicon-remove
    script(src='/dist/js/profile.js')